@charset "utf-8";

@import url("./pretendard-subset.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: "Pretendard", sans-serif;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Pretendard", sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    /* 색상값 */
    --color-primary-blue: #4e78ba;
    --color-primary-orange: #fe792e;
    --color-backdrop-bg: rgba(0 0 0 / 60%);
    --color-font-default: #121212;
    --color-white: #ffffff;
    --color-light-gray: #dcdcdc;
    --color-light-gray2: #f8f8f8;
    --color-light-gray3: #707070;
    --color-point-red: #ee0c0c;
    --color-point-blue: #206bec;

    /* border */
    --border-style-01: 1px solid #dcdcdc;
    --border-style-02: 1px solid var(--color-point-blue);
    --border-style-03: 1px solid transparent;
}

#body-wrap {
    position: relative;
    min-width: 1440px;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 60px;

    line-height: 1.2;
    font-weight: 400;
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
    letter-spacing: -0.16px;
    color: var(--color-font-default);
}

body.bg-on {
    overflow: hidden;
}

body.search-on {
    padding-right: 16px;
    overflow: hidden;
}

body.search-on #header .logo {
    margin-left: -7px;
    z-index: 4;
}

body.search-on .header-wrap {
    padding-right: 8px;
}

#container {
    min-height: 863px;
}
