@charset "utf-8";
/* ===============================
    0. 서브 공통
   =============================== */

#container.sub {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.page-path {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 20px;
}

.page-path .home {
    width: 15px;
    height: 16px;
    background: no-repeat url("../images/sub/ico-path-home.svg");
}

.page-path li {
    position: relative;
    font-size: 12px;
    line-height: 16px;
}

.page-path li:not(.home)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 14px;
    padding-right: 16px;
    background: no-repeat url("../images/sub/ico-path-arr.svg");
}
