@charset "utf-8";
/* ===============================
    서브 공통
   =============================== */
#container.sub {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 172px;
}

/* ===============================
    페이지 경로
   =============================== */
.page-path {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 20px;
}

.page-path .home {
    width: 15px;
    height: 16px;
    background: no-repeat url("../images/sub/ico-path-home.svg");
}

.page-path li {
    position: relative;
    font-size: 12px;
    line-height: 16px;
}

.page-path li:not(.home)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 14px;
    padding-right: 16px;
    background: no-repeat url("/public/assets/images/sub/ico-path-arr.svg");
}

/* ===============================
    타이틀
   =============================== */
.sub-title1 {
    padding: 64px 0 50px;
    font-size: 40px;
    font-weight: 700;
}

.sub-title2 {
    margin: 0 0 10px;
    padding-left: 9px;
    font-weight: 700;
    background: no-repeat url("/public/assets/images/sub/ico-sub-title2.svg") 0 50%;
    font-size: 17px;
    color: #223a6b;
}

.sub-title2:first-of-type {
    margin-top: 0;
}

.sub-title3 {
    padding-left: 25px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    background: no-repeat url("/public/assets/images/sub/ico-sub-title3.svg") 0 0;
}

.sub-title4 {
    padding-left: 23px;
    background: no-repeat url("/public/assets/images/sub/ico-sub-title4.svg") left center;
    font-size: 16px;
    font-weight: 700;
}

.popup-title {
    padding-left: 23px;
    margin-bottom: 22px;
    background: no-repeat url("/public/assets/images/sub/ico-sub-title4.svg") left center;
    font-size: 16px;
    font-weight: 700;
}

/* ===============================
    그리드
   =============================== */
.grid-section {
}

.grid-section .grid-section-wrap {
    display: flex;
    gap: 0 30px;
}

.grid-section .grid-section-item {
    flex: 1;
}

.grid-utils {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 8px;
    margin-bottom: 5px;
}

.grid-utils .unit {
    font-size: 14px;
    font-weight: 500;
}

.grid-utils .btn-excel {
    width: 13px;
    height: 13px;
    background: no-repeat url("/public/assets/images/sub/ico-excel-down.svg") center;
}

.grid-utils .total {
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
}

.grid-utils .total .num {
    font-weight: 700;
}

/* ===============================
    검색영역
   =============================== */
.sub-search {
    margin-bottom: 20px;
}

.sub-search .sub-search-wrap {
    padding: 16px 40px;
    border-radius: 10px;
    border: var(--border-style-02);

    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
}

.sub-search .sub-search-item {
    display: flex;
    align-items: center;
}

.sub-search .input-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 6px;
    flex-wrap: wrap;
}

.sub-search .input-item {
    flex: 1;
}

/* 검색 타이틀 */
.sub-search .sub-search-item .sub-search-title {
    width: 100px;
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
}

/* 검색 버튼s */
.sub-search .search-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 8px;
}

.sub-search .search-btn-wrap button {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    color: var(--color-white);
    font-weight: 700;
}

.sub-search .search-btn-wrap .reset-btn {
    background-color: #bdcce3;
}

.sub-search .search-btn-wrap .submit-btn {
    background-color: var(--color-primary-blue);
}

/* ===============================
    검색영역 - 코드검색
   =============================== */
.input-item.search-input {
    position: relative;
    flex: none;
    width: 122px;
}

.input-item.search-input input {
    width: 100%;
    padding-right: 32px;
}

.input-item.search-input button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 32px;
    height: 29px;
    background: no-repeat url("/public/assets/images/sub/ico-search-btn.svg") center;
}

/* ===============================
    검색영역 - 달력
   =============================== */
.input-item.date-input {
    position: relative;
    flex: none;
    width: 122px;
}

.input-item.date-input input {
    width: 100%;
    padding-right: 32px;
}

.input-item.date-input button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 32px;
    height: 29px;
    background: no-repeat url("/public/assets/images/sub/ico-date-btn.svg") center;
}

/* ===============================
    검색영역 - 라디오
   =============================== */
.radio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 24px;
}

.input-item + .radio-list {
    padding-left: 34px;
}

.input-item.radio-input {
    flex: none;
    display: flex;
    align-items: center;
}

.input-item.radio-input span {
    position: relative;
    display: block;
    height: 100%;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.input-item.radio-input span::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-right: 13px;
    border: var(--border-style-01);
    border-radius: 50%;
}

.input-item.radio-input input[type="radio"]:checked + span::before {
    background: no-repeat url("/public/assets/images/sub/ico-radio-on.svg") center;
}

/* ===============================
    검색영역 - 체크박스
   =============================== */
.checkbox-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 24px;
}

.input-item.check-input {
    flex: none;
    display: flex;
    align-items: center;
}

.input-item.check-input span {
    position: relative;
    display: block;
    height: 100%;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
}
.input-item.check-input span::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-right: 13px;
    border: var(--border-style-01);
    border-radius: 3px;
}

.input-item.check-input input[type="checkbox"]:checked + span::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;
    width: 12px;
    height: 9px;
    background: no-repeat url("/public/assets/images/sub/ico-checkbox.svg") center;
}

/* ===============================
    검색영역 - 가나다라....
   =============================== */
.sub-search-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sub-search-filter li {
    width: 22px;
}

.sub-search-filter a {
    display: block;
    width: 100%;
    height: 100%;
    border: var(--border-style-01);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.sub-search-filter a:hover,
.sub-search-filter a:focus,
.sub-search-filter a.on {
    background-color: #5589f0;
    border-color: #5589f0;
    color: var(--color-white);
}

/* ===============================
    공지사항
   =============================== */
.notice-wrap {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 21px 25px 21px 65px;
    border-radius: 10px;
    background: no-repeat var(--color-light-blue) url("/public/assets/images/sub/ico-notice.svg") 20px center;
}

.notice-wrap p {
    font-size: 13px;
    line-height: 20px;
}

/* ===============================
    현재가
   =============================== */
.company-title {
    display: flex;
    margin-top: 30px;
    padding: 22px 18px;
    background-color: #f2f3f6;
    border-radius: 10px;
}

.company-title .sub-title3 {
    padding-bottom: 0;
}

.company-title .badges {
    display: flex;
    gap: 0 8px;
    margin-left: 8px;
}

.company-title .badge {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.company-title .badge img {
    margin-right: 7px;
}

.company-info-list {
    display: flex;
    justify-content: flex-end;
    gap: 0 6px;
    padding: 30px 0;
}

.company-info-list a {
    display: block;
    padding: 0px 37px 0px 17px;
    border-radius: 20px;
    background: no-repeat var(--color-primary-blue) url("/public/assets/images/sub/ico-company-arr.svg") right 10px
        center;
    line-height: 29px;
    font-weight: 500;
    color: var(--color-white);
}

.company-wrap {
    display: grid;
    grid-template-columns: 536px auto;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 41px;
    grid-row-gap: 30px;
}

.company-wrap .sub-title2 {
    margin-top: 30px;
}

.company-wrap .sub-title2:first-child {
    margin-top: 0;
}

.notice-text1 {
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
}

.notice-text2 {
    padding: 14px 0px;
    font-size: 14px;
    color: #223a6b;
}

/* ===============================
    테이블
   =============================== */
.table-type1 .cell-bg-red {
    background-color: #fff0e8;
}

.table-type1 .cell-bg-blue {
    background-color: #eff6ff;
}

.table-type1 {
    width: 100%;
    text-align: right;
}

.table-type1 th,
.table-type1 td {
    height: 40px;
    padding: 10px 15px;
    vertical-align: middle;
    border: var(--border-style-01);
    background-color: var(--color-white);
}

.table-type1 th {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.table-type1 thead tr:first-child th {
    border-top: var(--border-style-02);
}

.table-type1 thead th {
    background-color: var(--color-light-blue);
}

.table-type1 tbody th.cell-title {
    font-size: 15px;
    padding: 10px 8px;
    background-color: var(--color-light-blue);
}

/* ===============================
    차트영역 - 현재가
   =============================== */
#chart {
    height: 100%;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* ===============================
    페이징
   =============================== */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.pagination a {
    display: block;
    padding: 0 10px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}

.pagination a:hover,
.pagination a.on {
    color: var(--color-primary-blue);
}

.pagination .prev-page a,
.pagination .next-page a,
.pagination .first-page a,
.pagination .last-page a {
    display: block;
    width: 15px;
    height: 16px;
    padding: 0;
}

.pagination .prev-page a {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-prev.svg") center;
}

.pagination .prev-page a:hover {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-prev-on.svg") center;
}

.pagination .next-page a {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-next.svg") center;
}

.pagination .next-page a:hover {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-next-on.svg") center;
}

.pagination .first-page a {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-first.svg") center;
}

.pagination .first-page a:hover {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-first-on.svg") center;
}

.pagination .last-page a {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-last.svg") center;
}

.pagination .last-page a:hover {
    background: no-repeat url("/public/assets/images/sub/ico-pagination-last-on.svg") center;
}

/* ===============================
    FAQ
   =============================== */
.faq-list li {
    position: relative;
    padding-left: 172px;
    background-color: #f6f6f8;
    margin-top: 10px;
}

.faq-list li:first-child {
    margin-top: 0;
}

.faq-list .faq-list-head {
    position: absolute;
    top: 17px;
    left: 23px;
    line-height: 20px;
    font-weight: 700;
}

.faq-list .faq-list-body .faq-Q {
    position: relative;
    padding: 11px 64px 11px 51px;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
}

.faq-list .faq-list-body .faq-Q::before {
    content: "Q";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-white);
    text-align: center;
    line-height: 32px;
    font-size: 14px;
}

.faq-list .faq-list-body .faq-Q::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    width: 14px;
    height: 8px;
    transform: translateY(-50%);
    background: no-repeat url("/public/assets/images/sub/ico-faq-list-arr.svg") center;
}

.faq-list .faq-list-body .faq-Q.on::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq-list .faq-list-body .faq-A {
    display: none;
    position: relative;
    padding: 6px 64px 16px 51px;
    font-weight: 500;
    line-height: 22px;
}

.faq-list .faq-list-body .faq-A::before {
    content: "A";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-primary-blue);
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: var(--color-white);
}

/* ===============================
    K-OTC 관련규정
   =============================== */
.kotc-rule .rule-item {
    position: relative;
    margin-top: 20px;
    padding-left: 290px;
}

.kotc-rule .rule-item:first-child {
    margin-top: 0;
}

.kotc-rule .sub-title4 {
    position: absolute;
    left: 0;
    top: 0;
}

.kotc-rule ul {
    display: flex;
    gap: 0 30px;
}

.kotc-rule a {
    display: block;
    width: 355px;
    height: 100%;
    padding: 18px 24px;
    background: #fafafa no-repeat url("/public/assets/images/sub/ico-rule-arr.svg") right 14px bottom 17px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 22px;
}

.kotc-rule a:hover {
    background: var(--color-primary-blue) no-repeat url("/public/assets/images/sub/ico-rule-arr-on.svg") right 14px
        bottom 17px;
    color: var(--color-white);
}

/* ===============================
    연혁
   =============================== */
.history-wrap {
    position: relative;
}

.history-wrap::before {
    content: "";
    position: absolute;
    left: 222px;
    top: 0;
    width: 1px;
    height: 100%;
    background: repeat-y url("/public/assets/images/sub/ico-history-line.svg") left top;
}

.history-wrap dl {
    position: relative;
    padding-left: 213px;
    margin-top: 30px;
}

.history-wrap dl:first-child {
    margin-top: 0;
}

.history-wrap dt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-primary-blue);
}

.history-wrap dd {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.history-wrap dd:first-of-type {
    margin-top: 0;
}

.history-wrap .history-month {
    padding-left: 38px;
    background: no-repeat var(--color-white) url("/public/assets/images/sub/ico-sub-title3.svg") left center;
    line-height: 20px;
    font-weight: 700;
    color: var(--color-primary-blue);
}

.history-wrap .history-text {
    padding-left: 38px;
    line-height: 22px;
}

/* ===============================
    팝업
   =============================== */
.popup-container {
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--color-backdrop-bg);
    z-index: 1000;
}

.popup-container .popup-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup-container .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 17px;
    height: 17px;
    background: no-repeat url("/public/assets/images/sub/ico-popup-close.svg") center;
    cursor: pointer;
}

/* 조회 팝업 */
#stock-search .popup-wrap {
    width: 600px;
    padding: 22px 20px 26px;
    background-color: var(--color-white);
}
