/* =========================
   공통 스타일
========================= */
.tui-grid-content-area {
    font-family: "Pretendard", sans-serif;
}
/* 헤더 */
.tui-grid-cell-header {
    padding: 0 18px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

/* 바디 */
.tui-grid-cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 18px !important;
    font-size: 15px;
    color: #000;
}

/* border */
.tui-grid-border-line-top {
    border-top-color: #4e78ba !important;
}

/* =========================
   스크롤바 스타일
========================= */
.tui-grid-body-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

/* =========================
   증감 아이콘 (작은 화살표)
========================= */
.tui-grid-body-area .tui-grid-cell.up .tui-grid-cell-content::before,
.tui-grid-body-area .tui-grid-cell.down .tui-grid-cell-content::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 8px;
    margin-right: 4px;
}

.tui-grid-body-area .tui-grid-cell.up .tui-grid-cell-content::before {
    background: url("/public/assets/images/common/ico-number-up.svg") no-repeat center center/contain;
}

.tui-grid-body-area .tui-grid-cell.down .tui-grid-cell-content::before {
    background: url("/public/assets/images/common/ico-number-down.svg") no-repeat center center/contain;
}

/* =========================
   증감 아이콘2
========================= */

.tui-grid-body-area .tui-grid-cell.up-arr .tui-grid-cell-content::before,
.tui-grid-body-area .tui-grid-cell.down-arr .tui-grid-cell-content::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 8px;
    margin-right: 4px;
}

.tui-grid-body-area .tui-grid-cell.up-arr .tui-grid-cell-content::before {
    background: url("/public/assets/images/common/ico-number-up-arr.svg") no-repeat center center/contain;
}

.tui-grid-body-area .tui-grid-cell.down-arr .tui-grid-cell-content::before {
    background: url("/public/assets/images/common/ico-number-down-arr.svg") no-repeat center center/contain;
}

/* =========================
   첨부파일 아이콘
========================= */
.tui-grid-body-area .tui-grid-cell .file-down {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 15px;
    margin-left: 10px;
    background: no-repeat url("/public/assets/images/sub/ico-file-down.svg") center;
}

.tui-grid-body-area .tui-grid-cell .file-down:first-child {
    margin-left: 0;
}

/* =========================
   셀 포커스 나갔을 때 border 생겨서 없앰
========================= */
.tui-grid-layer-focus-deactive {
    display: none !important;
}

/* =========================
   헤더 우측에 여백 남는 부분 헤더랑 동일한 스타일로 덮음
========================= */
.tui-grid-scrollbar-right-top {
    display: block;
    right: 0px;
    background-color: var(--color-light-blue) !important;
    border-top: var(--border-style-02);
    border-left: 1px solid var(--color-light-blue) !important;
    border-bottom: none;
    border-left: 0px;
    border-right: 0px;
}

/* =========================
   컬럼 고정했을때 구분선
========================= */
.tui-grid-frozen-border {
    background-color: transparent !important;
}
